:root {
    --primary-color: #d3ad7f;  /* Define a cor primária do site */
    --black: #13131a; /* Define a cor preta do site */
    --bg: #010103; /* Define a cor de fundo do site */
    --border: 0.1rem solid rgba(255, 255, 255, 0.3);  /* Define a cor da borda padrão */
    font-size: 10px; /* Define o tamanho da fonte padrão */
}

*{
    margin: 0;  
    padding: 0;  
    outline: none; /* Remove a borda padrão do foco */
    border: none; /* Remove a borda padrão */
    text-decoration: none; /* Remove a decoração de texto padrão */
    text-transform: capitalize; /* Transforma o texto em maiúsculas */
    transition: 0.2s linear; /* Adiciona uma transição suave a todos os elementos */
    font-family: 'Roboto', sans-serif; /* altera a fonte do texto */


}

body{
    background-color: var(--bg); /* Define a cor de fundo do corpo */
}

section{ 
    padding: 3rem 2rem; /* Adiciona um espaçamento interno padrão */
    margin: 0 auto; /* Centraliza o conteúdo horizontalmente */
    max-width: 1200px; /* Define a largura máxima do contêiner */
}

.header {
    position: fixed; /* Fixa o cabeçalho no topo da página */
    top: 0 ; /* Alinha o cabeçalho ao topo da página */
    left: 0; /* Alinha o cabeçalho à esquerda da página */
    right: 0 ; /* Alinha o cabeçalho à direita da página */
    z-index: 99; /* Define a ordem de empilhamento do cabeçalho */
    border-bottom: var(--border); /* Adiciona uma borda na parte inferior do cabeçalho */
    background-color: var(--bg);  /* Define a cor de fundo do cabeçalho */

}

.header section{
    display: flex; /* Torna o cabeçalho flexível */
    justify-content: space-between; /* Alinha os itens do cabeçalho */
    align-items: center; /* Centraliza verticalmente os itens do cabeçalho */
    padding: 1.5rem 1.5rem; /* Adiciona um espaçamento interno ao cabeçalho */

}

.header .logo {
    height: 100%; /* Faz com que a logo ocupe toda a altura do contêiner pai */
    display: flex; /* Garante que o conteúdo interno seja flexível */
    align-items: center; /* Centraliza verticalmente o conteúdo da logo */
    background-color: black; /* Fundo preto padrão */
    padding: 0.5rem; /* Adiciona um espaçamento interno para a logo */
    border-radius: 50%; /* Opcional: arredonda os cantos */
    transition: background-color 0.3s ease;
}

.header .logo:hover {
    background-color: white; /* Fundo branco ao passar o mouse */
    border-radius: 50%; /* Arredonda os cantos ao passar o mouse */
    box-shadow: 0 0 10px rgba(250, 4, 4, 0.1); /* Adiciona uma sombra ao passar o mouse */

}

.header .logo img {
    height: 100%; /* Ajusta a altura da imagem para ocupar o mesmo tamanho do contêiner */
    max-height: 100px; /* Define um limite máximo para evitar que a imagem fique muito grande */
    width: auto; /* Mantém a proporção da imagem */
}

.navbar a{
    margin: 0 1rem;
    font-size: 3rem;
    color: white;
}

.navbar a:hover{
    color: var(--primary-color);
    border-bottom: var(--border);
    padding-bottom: 0.5rem;
    font-size: 2.5rem;
}

.icons img{
    margin: 1rem;
    cursor: pointer;

}

.icons img:hover{
    transform: scale(1.1);
    width: 40px;
    height: 40px;
}

.btn{
    background: var(--primary-color);
    color: white;
    padding: 1rem 3rem;
    font-size: 1.7rem;
    cursor: pointer;
    margin-top: 1rem;
    display: inline-block;
}

.bnt:hover {
    letter-spacing: 0.2rem;
}

.home--container{
    background: url('../img/home-img.jpg') no-repeat center center/cover;
    background-position: center;
    background-size: cover;

}

.home--container section{
    display: flex;
    align-items: center;
    min-height: 100vh;
}

.content{
    max-width: 60rem;
}

.content h3{
    color: wheat;
    font-size: 6rem;
}

.content p{
    font-size: 2rem;
    margin: 1rem 0;
    color: wheat;
    font-weight: 100 ;
    line-height: 1.8;
    padding: 1rem 0rem;
}


.tittle {
    font-size: 6rem;
    color: var(--primary-color);
    text-align: center;
    text-transform: uppercase;

}

.tittle span{
    color: wheat;
    text-transform: uppercase;
    padding: 1.5rem;
}

.about .row {
    display: flex;
    align-items: center;
    background-color: var(--black);
    gap: 1.5rem;
}

.about .row .content {
    padding: 2rem;
}

.about .row .content h3{
font-size: 3rem;
color: wheat;
}

.about .row .content p{
    font-size: 1.6rem;
    color: wheat;
    padding: 1rem 0;
    line-height: 1.8;

}

.box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.menu .box-container .box {
    text-align: center;
    border: var(--border);
    padding: 5rem;
}



.menu .box-container .box img{
    height: 10rem;
}

.menu .box-container .box h3{
    color: wheat;
    font-size: 2rem;
    padding: 1rem 0;
}

.menu .box-container .box h4 {
    color: whitesmoke;
    font-size: 2rem;
    padding: 1rem 0;

}

.menu .box-container .box .price {
    color: white;
    font-size: 2.5rem;
    padding: 0.5rem 0;
}

.menu .box-container .box .price span {
    font-size: 1.5rem;
    text-decoration: line-through;
    font-weight: lighter;
}


.menu .box-container .box:hover {
    background-color: #fff;
}

.menu .box-container .box:hover>* {
    color: var(--black);
}

.avaliações .box-container .box {
    border: var(--border);
    text-align: center;
    padding: 3rem 2rem;
}

.avaliações .box-container .box p {
    font-size: 1.5rem;
    color: #fff;
    padding: 2rem 0;
    line-height: 1.8;
    font-weight: lighter;
}


.avaliações .box-container .box img {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
}

.avaliações .box-container .box h3 {
    color: #fff;
    font-size: 2rem;
    margin: 1rem;

}

.endereços {
    display: flex;
    align-items: center;
    flex-direction: column;
}



